[View in Colaboratory](https://colab.research.google.com/github/isix/Machine-Learning/blob/master/Data_Load.ipynb)

## Download dataset file with wget

In [6]:
!wget https://filebin.net/yo333kqfcr4aw08q/DadosA.csv
  
import pandas as pd

dataset = pd.read_csv('./DadosA.csv')
dataset.head(5)

--2018-04-16 10:04:13--  https://filebin.net/yo333kqfcr4aw08q/DadosA.csv
Resolving filebin.net (filebin.net)... 185.47.40.36, 2a02:c0:2f0:700:f816:3eff:fe73:c194
Connecting to filebin.net (filebin.net)|185.47.40.36|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 721781 (705K) [text/plain]
Saving to: ‘DadosA.csv.2’

DadosA.csv.2        100%[===================>] 704.86K  1.43MB/s    in 0.5s

2018-04-16 10:04:14 (1.43 MB/s) - ‘DadosA.csv.2’ saved [721781/721781]

,NameSet,GivenName,MiddleInitial,Surname,City,State,ZipCode,Birthday,Number,CCType,CCNumber,CCExpires,BloodType,Color,Occupation,Company
0,Brazil,Isabella,R,Correia,São Luís,MA,65055-270,12/31/1941,1,MasterCard,5519939017174659,10/2020,O+,Black,Babysitter,Monk Real Estate Service
1,Brazil,Antônio,M,Lima,Alegrete,RS,97545-450,8/17/1950,2,Visa,4716100952829682,10/2019,B+,Red,Justice of the peace,Brown Derby
2,Brazil,Kaua,C,Castro,São Paulo,SP,02613-040,8/6/1946,3,Visa,4485775867919394,6/2019,O-,Blue,Training manager,Leonard Krower & Sons
3,Brazil,Evelyn,A,Santos,Sorocaba,SP,18010-130,8/4/1984,4,MasterCard,5126501827751764,7/2022,O-,Purple,Image consultant,Star Merchant Services
4,Brazil,Sofia,C,Souza,Campinas,SP,13040-078,11/27/1943,5,MasterCard,5191111001769358,12/2018,A+,Red,Mail processing machine operator,Handy Andy

## Read dataset directly from URL

In [5]:
import pandas as pd

dataset = pd.read_csv('https://filebin.net/yo333kqfcr4aw08q/DadosA.csv')
dataset.head(5)

,NameSet,GivenName,MiddleInitial,Surname,City,State,ZipCode,Birthday,Number,CCType,CCNumber,CCExpires,BloodType,Color,Occupation,Company
0,Brazil,Isabella,R,Correia,São Luís,MA,65055-270,12/31/1941,1,MasterCard,5519939017174659,10/2020,O+,Black,Babysitter,Monk Real Estate Service
1,Brazil,Antônio,M,Lima,Alegrete,RS,97545-450,8/17/1950,2,Visa,4716100952829682,10/2019,B+,Red,Justice of the peace,Brown Derby
2,Brazil,Kaua,C,Castro,São Paulo,SP,02613-040,8/6/1946,3,Visa,4485775867919394,6/2019,O-,Blue,Training manager,Leonard Krower & Sons
3,Brazil,Evelyn,A,Santos,Sorocaba,SP,18010-130,8/4/1984,4,MasterCard,5126501827751764,7/2022,O-,Purple,Image consultant,Star Merchant Services
4,Brazil,Sofia,C,Souza,Campinas,SP,13040-078,11/27/1943,5,MasterCard,5191111001769358,12/2018,A+,Red,Mail processing machine operator,Handy Andy

## Using Python code

Let's suppose you want to use "https://github.com/mikeizbicki/datasets/blob/master/csv/uci/breast-cancer-wisconsin.data" in your project.

### Options
1. Paste desided file URL in https://rawgit.com/ and get the new URL. Adjust the new file path.
2. https://github.com/mikeizbicki/datasets/raw/blob/master/csv/uci/breast-cancer-wisconsin.data

In [57]:
url = 'https://cdn.rawgit.com/mikeizbicki/datasets/ea5a06d1/csv/uci/breast-cancer-wisconsin.data'
dataset = pd.read_table(url, delimiter=',', header=None)
dataset.head(5)

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [56]:
#!/usr/bin/env python3
import base64
import requests
import pandas as pd

url = 'https://api.github.com/repos/mikeizbicki/datasets/contents/csv/uci/breast-cancer-wisconsin.data'
req = requests.get(url)

if req.status_code == requests.codes.ok:
    req = req.json()  # the response is a JSON
    # req is now a dict with keys: name, encoding, url, size ...
    # and content. But it is encoded with base64.
    content = base64.standard_b64decode(req['content'])
else:
    print('Content was not found.')

with open('breast-cancer-wisconsin.data', 'w') as f:
    f.write(content.decode('ascii'))

dataset = pd.read_table('breast-cancer-wisconsin.data', delimiter=',', header=None)
print(dataset.head(5))

!rm -rf breast-cancer-wisconsin.data
!ls -la

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2
total 125908
drwxr-xr-x 1 root root     4096 Apr 16 14:15 .
drwxr-xr-x 1 root root     4096 Apr 16 08:03 ..
drwx------ 4 root root     4096 Apr 16 08:04 .cache
drwxr-xr-x 3 root root     4096 Apr 16 08:04 .config
-rw-r--r-- 1 root root   721781 Apr 16 10:00 DadosA.csv
drwxr-xr-x 1 root root     4096 Apr 16 08:37 datalab
-rw-r--r-- 1 root root   212908 Apr 16 09:02 DR.csv
drwxr-xr-x 2 root root     4096 Apr 16 08:39 drive.google.com
drwxr-xr-x 4 root root     4096 Apr 16 08:04 .forever
drwxr-xr-x 5 root root     4096 Apr 16 08:04 .ipython
drwxr-xr-x 2 root root     4096 Apr 16 08:05 .kaggle
drwxr-xr-x 2 root root     4096 Apr 16 08:29 .keras
drwx------ 3 root root     4096 Apr 16 08:04 .local
-rw-r--r-- 1 root root    15840 Apr 16 08:50 model.h5
-rw-r--r-- 1 root root     1455 Apr 16 08:50 model.json
-rw-r--r-- 1 root root    23628 Apr 16 08:42 pima-indians-diabetes.csv
-rw------- 1 root root     1024 Apr 16 08:04 .rnd
-rw-r--r-- 1 root root 51118296 Apr 16 08:24 test.csv
-rw-r--r-- 1 root root 76775041 Apr 16 08:39 train.csv


---
### Do not work :^(


```
#!/usr/bin/env python3
import base64
import requests

url = 'https://api.github.com/repos/mikeizbicki/datasets/contents/csv/uci/breast-cancer-wisconsin.data'
req = requests.get(url)

if req.status_code == requests.codes.ok:
    req = req.json()  # the response is a JSON
    # req is now a dict with keys: name, encoding, url, size ...
    # and content. But it is encoded with base64.
    content = base64.standard_b64decode(req['content'])
else:
    print('Content was not found.')
    
print(content)
strcontent = content.decode('ascii')

dataset = pd.read_csv(strcontent)
dataset.head(5)
```

In [54]:
! rm -rf DadosA.csv.1 DadosA.csv.2 
! ls -la
! ls -la datalab
! df -h

total 125908
drwxr-xr-x 1 root root     4096 Apr 16 13:38 .
drwxr-xr-x 1 root root     4096 Apr 16 08:03 ..
drwx------ 4 root root     4096 Apr 16 08:04 .cache
drwxr-xr-x 3 root root     4096 Apr 16 08:04 .config
-rw-r--r-- 1 root root   721781 Apr 16 10:00 DadosA.csv
drwxr-xr-x 1 root root     4096 Apr 16 08:37 datalab
-rw-r--r-- 1 root root   212908 Apr 16 09:02 DR.csv
drwxr-xr-x 2 root root     4096 Apr 16 08:39 drive.google.com
drwxr-xr-x 4 root root     4096 Apr 16 08:04 .forever
drwxr-xr-x 5 root root     4096 Apr 16 08:04 .ipython
drwxr-xr-x 2 root root     4096 Apr 16 08:05 .kaggle
drwxr-xr-x 2 root root     4096 Apr 16 08:29 .keras
drwx------ 3 root root     4096 Apr 16 08:04 .local
-rw-r--r-- 1 root root    15840 Apr 16 08:50 model.h5
-rw-r--r-- 1 root root     1455 Apr 16 08:50 model.json
-rw-r--r-- 1 root root    23628 Apr 16 08:42 pima-indians-diabetes.csv
-rw------- 1 root root     1024 Apr 16 08:04 .rnd
-rw-r--r-- 1 root root 51118296 Apr 16 08:24 test.csv
-rw-r--r-- 1 root root 76775041 Apr 16 08:39 train.csv
total 16
drwxr-xr-x 1 root root 4096 Apr 16 08:37 .
drwxr-xr-x 1 root root 4096 Apr 16 13:38 ..
-rw-r--r-- 1 root root 2166 Apr 16 08:37 adc.json
drwxr-xr-x 1 root root 4096 Apr 16 08:37 .config
Filesystem      Size  Used Avail Use% Mounted on
overlay          40G  5.1G   33G  14% /
tmpfs           6.4G     0  6.4G   0% /dev
tmpfs           6.4G     0  6.4G   0% /sys/fs/cgroup
/dev/sda1        46G  6.0G   40G  14% /etc/hosts
shm              64M  4.0K   64M   1% /dev/shm
tmpfs           6.4G     0  6.4G   0% /sys/firmware